
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.portfolio{
    font-size: 6vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-weight: 500;
}
.jmeno{
    text-align: center;
    font-size: 3vw;
    font-family: 'Dancing Script';
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: end;
    margin: 0;
}
li{
    padding: 10px 20px 10px 20px;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}
nav{
    background-color: #2E6FF0;
}
li:hover{
    background-color: #800BF4;
}
main{
    position: relative;
    background-color: #60BDF0;
}
.custom-shape-divider-bottom-1732550790 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1732550790 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1732550790 .shape-fill {
    fill: #FFFFFF;
}
.drak{
    height: 50%;
    width: 21vw;
    border-radius: 100%;
    margin: 60px;
    order: 1;
}
.uvod{
    margin: auto;
    width: max-content;

    display: flex;
}
.text{
    align-content: center;
    order: 2;
    margin: 50px;
}
.Instagram, .Twitter, .Facebook{
    height: 50px;
    border-radius: 100%;
}
.Instagram:hover, .Twitter:hover, .Facebook:hover{
    opacity: 0.5;
}
.social{
    width: max-content;
    margin: 60px auto;
}
.necoomne{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;

}
.text2{
    text-align: justify;
    width: 800px;
    margin: 0px auto 50px auto;
    font-family: 'Sour Gummy';
}
footer{
    background-color: rgb(36, 34, 34);
    padding: 15px 50px;
    margin-top: 150px;
    position: sticky;
    bottom: 0;
}
.footer{
    text-align: right;
    color: aliceblue;
    font-family: 'Sour Gummy';
}
.prouzek{
    height: 40px;
    background-color: rgb(107, 159, 204);
}
@media (max-width: 769px){
    .portfolio{
        font-size: 8vw; /* 60px */
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        font-weight: 500;
    }
    .jmeno{
        text-align: center;
        font-size: 5vw; /* 40px */
        font-family: 'Dancing Script';
        margin: 0;
    }

    .custom-shape-divider-bottom-1732550790 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 100px;
    }
    .drak{
        height: 50%;
        width: 26vw;
        border-radius: 100%;
        margin: 20px 5px 70px 20px;
        order: 1;
    }
    .text{
        align-content: center;
        order: 2;
        margin: 20px 20px 70px 5px;
    }
    .Instagram, .Twitter, .Facebook{
        height: 40px;
        border-radius: 100%;
    }
    .text2{
        text-align: justify;
        width: 90vw;
        margin: 0px auto 50px auto;
        font-family: 'Sour Gummy';
        font-size: 15px;
    }
} /*iPad Mini */

@media (max-width: 376px){
    .portfolio{
        font-size: 11vw;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        font-weight: 500;
    }
    .jmeno{
        text-align: center;
        font-size: 7vw;
        font-family: 'Dancing Script';
        margin: 0;
    }

    .custom-shape-divider-bottom-1732550790 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 97px;
    }
    .drak{
        height: 50%;
        width: 33vw;
        border-radius: 100%;
        margin: 20px 5px 70px 20px;
        order: 1;
    }
    .text{
        align-content: center;
        order: 2;
        margin: 20px 20px 70px 5px;
    }
    .Instagram, .Twitter, .Facebook{
        height: 40px;
        border-radius: 100%;
    }
    .text2{
        text-align: justify;
        width: 85vw;
        margin: 0px auto 50px auto;
        font-family: 'Sour Gummy';
        font-size: 15px;
    }
} /*iPhone SE */

